@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #E5E5E5, #EADBC6);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #968c7ea7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #E9AD63;
    text-align: center;
    text-shadow: 1px 1px 0px #926d3fa9;
}

h2 {
    color: #264775;
}
p {
    text-align: justify;
}